# Configuracion de la Base de Datos (PostgreSQL)
DB_HOST=localhost
DB_PORT=5433
DB_NAME=flyaway-db
DB_USER=postgres
DB_PASSWORD=postgres

# Configuracion de Seguridad (JWT)
# Puedes generar un secreto aleatorio para JWT_SECRET
JWT_SECRET=ZmxZQXdheVRyYXZlbFNlY3JldEtleUZvclVURUMyMDI2U2VjdXJl
JWT_EXPIRATION=86400000

